.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    color: #eff2f5;
    background-color: #fff;
}

.login > button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
}

login > button:hover {
    background-color: #fff;
    color: #2e81f4;
}

button:hover .MuiButton-label {
    color: #2e81f4;
}

.login > div > img {
    object-fit: contain;
    height: 150px;
}
.login > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
